<p id="notice"><%= notice %></p>

<h1>Listing Parties</h1>

<table class="text-center">
  <thead> 
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Date</th>
      <th class="text-center">Max attendees</th>
      <th class="text-center">Age range</th>
      <th class="text-center">Description</th>
      <th class="text-center">What to bring</th>
      <th class="text-center">Rules</th>
      <th class="text-center">Host</th>
      <th class="text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= party.name %></td>
        <td><%= party.date %></td>
        <td><%= party.max_attendees %></td>
        <td><%= party.age_range %></td>
        <td><%= party.description %></td>
        <td><%= party.what_to_bring %></td>
        <td><%= party.rules %></td>
        <td><%= party.user.try(:email) %></td>
        <td><%= link_to 'Show', party %></td>
        <td><%= link_to 'Edit', edit_party_path(party) %></td>
        <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Party', new_party_path %>
